<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/content.css">
  <title>Header</title>
</head>
<header>
  <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="https://github.com/ParvathyAjRaj"><ion-icon name="logo-github"></ion-icon></a>
    <a class="navbar-brand navbar-logo" href="www.linkedin.com/in/parvathyraj"><ion-icon name="logo-linkedin"></ion-icon></a>
    
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars text-white"></i>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- <div class="hori-selector">
          <div class="left">
            
          </div>
        </div> -->
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="far fa-copy"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/skills"><i class="far fa-calendar-alt"></i>Skillsets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects"><i class="far fa-calendar-alt"></i>Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/certificates"><i class="far fa-clone"></i>Certificates & Courses</a>
        </li>

      </ul>
    </div>
  </nav>
</header>
<main class="container">