<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Certificates and Courses</title>
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
  <%- include("partials/header.ejs") %>
  <h1>Certificates and Courses</h1>
  <hr>
  <ul class="List">
    <dl>
      <dt>Programming Foundations with JavaScript, HTML and CSS</dt>
      <dd>Certificate authorized by Duke University and offered through Coursera</dd>
        <dd><img class="cert" src="images/Coursera_Certificate.png"></dd>     
    </dl>
    <hr>
    <dl>
      <dt>The Complete 2024 Web Development Bootcamp Course</dt>
      <dd>Completed the Web Development bootcamp course in Udemy. The course is by <b>Dr.Angela Yu.</b><br>
        <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/" target="_blank"><img class="tech" src="images/udemy.png" alt="udemy"></a>
      </dd>
      <dd><img class="cert" src="images/udemy_cert.png" ></dd>
    </dl>
    <hr>
    <dl>
      <dt>React Basics by Meta [Ongoing]</dt>
      <dd>Currently I am going through <b>React Basics</b> by <b>Meta</b>. Targeting to complete the course and gain the certification.</dd>
      <!-- <dd><img class="cert" src="images/udemy_cert.png"</dd> -->
    </dl>
    <hr>

  </ul>
  
  <%- include("partials/footer.ejs") %>
</body>
</html>

