<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-66L97V1NLY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-66L97V1NLY');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <%- include("partials/header.ejs") %>
  <img class="profile" src="images/profile.png" alt="profile">
  <h2>Hey ! I'm Parvathy R </h2>
  <p>A passionate and self-taught front-end developer on a mission to create attractive and user-friendly web experiences.
    With a solid foundation in front-end technologies and a keen eye for design, I am eager to contribute my skills and creativity to innovative projects.
    In the dynamic field of web development, staying up-to-date is key. I am committed to ongoing learning and exploration of emerging technologies, ensuring that my skills are always at the cutting edge of the industry. 
  <!-- </p> -->
  <!-- <p> -->
    <br><br>
    Dive into my portfolio to witness the numerous projects which i tried during my journey of learning. Check out my projects in github page to get a glimpse of what I can bring to your team.
  Feel free to connect with me via 
    <a href="https://github.com/ParvathyAjRaj"><ion-icon name="logo-github"></ion-icon></a>
    or 
    <a href="https://www.linkedin.com/in/parvathyraj"><ion-icon name="logo-linkedin"></ion-icon></a>
  </p>
  
 
  <%- include("partials/footer.ejs") %>
</body>
</html>

