<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <h1>Projects</h1>
    <hr>
    <ul class ="List">
        <dl>
            <dt>To Do App</dt>
            <dd>This is a To Do List App, where you can add any task to do , strike it off when its 
                done and later delete it from the list.</dd>
            <dd>Technologies used : 
                <img class="tech" src="images/html.png" alt="html">
                <img class="tech" src="images/css.png" alt="css">
                <img class="tech" src="images/react.png" alt="react">
            </dd>
            <a href="https://github.com/ParvathyAjRaj/To-Do-App"><img class="github" src="images/github.png"></a>
        </dl>   
        <hr>

        <dl>
            <dt>Phone Book</dt>
            <dd>This is a phone book where you can view the contacts, edit the existing contact, delete any contact, add new contact, 
                view the list of contacts. Also you can move the pages to back or 
                front and also search for any contact. Contact details of the 
                search will be displayed if its present, else "No result" page will 
                be displayed.</dd>
            <dd>Technologies used : 
                <img class="tech" src="images/html.png" alt="html">
                <img class="tech" src="images/css.png" alt="css">
                <img class="tech" src="images/express_js.png" alt="express js">
                <img class="tech" src="images/ejs.png" alt="ejs">
                <img class="tech" src="images/axios.png" alt="axios">
            </dd>
            <a href="https://github.com/ParvathyAjRaj/Phone-Book"><img class="github" src="images/github.png"></a>
        </dl>   
        <hr>    
        
        <dl>
            <dt>Wordle Game</dt>
            <dd>Recreation of the Worlde Game where you will get 5 chances to guess the right word.</dd>
            <dd>Technologies used : 
                <img class="tech" src="images/html.png" alt="html">
                <img class="tech" src="images/css.png" alt="css">
                <img class="tech" src="images/js.png" alt="js">
            </dd>
            <a href="https://github.com/ParvathyAjRaj/Wordle_Game"><img class="github" src="images/github.png"></a>
        </dl>   
        <hr>   
        
        <dl>
            <dt>Simon Game</dt>
            <dd>Recreation of Simon Game. Its a game which creates a series of tones and colours and requires a user to repeat the sequence. 
            </dd>
            <dd>Technologies used : 
                <img class="tech" src="images/html.png" alt="html">
                <img class="tech" src="images/css.png" alt="css">
                <img class="tech" src="images/jQuery.png" alt="jQuery">
            </dd>
            <a href="https://github.com/ParvathyAjRaj/Simon-Game"><img class="github" src="images/github.png"></a>
        </dl>
        <hr>
        
    </ul>
    <%- include("partials/footer.ejs") %>
</body>
</html>