<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <h2>A Glimpse into my skillset</h2>
    <hr>
    <br> 
    <ul class="skill">
        <dl><dt>HTML<img class="tech" src="images/html.png"></dt></dl>
        <dl><dt>CSS <img class="tech" src="images/css.png"></dt></dl>
        <dl><dt>Bootstrap <img class="tech" src="images/bootstrap.jpg"></dt></dl>
        <dl><dt>JavaScript<img class="tech" src="images/js.png"></dt></dl>
        <dl><dt>jQuery<img class="tech" src="images/jQuery.png"></dt></dl>
        <dl><dt>Github<img class="tech" src="images/github.png"></dt></dl>
        <dl><dt>Node JS <img class="node" src="images/node.png"></dt></dl>
        <dl><dt>Express JS<img class="tech" src="images/express_js.png"></dt></dl>
        <dl><dt>Nodemon<img class="tech" src="images/nodemon.png"></dt></dl>
        <dl><dt>Postman<img class="tech" src="images/postman.png"></dt></dl>
        <dl><dt>Embedded JS<img class="tech" src="images/ejs.png"></dt></dl>
        <dl><dt>API : Axios<img class="tech" src="images/axios.png"></dt></dl>
        <dl><dt>React JS<img class="tech" src="images/react.png"></dt></dl>
        <!-- End skills -->
        <dl><dt>Visual Studio Code<img class="tech" src="images/vscode.png"></dt></dl>
        <!-- <dl><dt>Python<img class="tech" src="images/python.png"></dt></dl>
        <dl><dt>Python Turtle<img class="tech" src="images/python turtle.png"></dt></dl> -->

    </ul>
    <%- include("partials/footer.ejs") %>
</body>
</html>